.active {
  width: 200px;
  background-color: rgb(101, 255, 237);
  border: 2px solid blue;
  border-radius: 4px;
  margin: 10px;
}

.unactive {
  border: 2px solid blue;
  border-radius: 4px;
  margin: 10px;
}

.picture {
  width: 200px;
}
